# IDE 관련 파일 및 디렉토리
.idea/

# Gradle 관련 파일 및 디렉토리
CCTV/gradle/
CCTV/gradlew
CCTV/gradlew.bat

# Node.js 관련 디렉토리
CCTV/node_modules/

# Flask 애플리케이션 관련 파일
flask-app/app.py
flask-app/app/__pycache__/
flask-app/app/model/